<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink=""><img src="assets/img/angular-icon.svg" style="margin-top: -8px;" width="36px"/></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/map" >Map</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/github" >Github Search</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/cribs" >Real-Estate</a></li>
        <li class="nav-item dropdown postsmenu" routerLinkActive="active">
          <a class="nav-link dropdown-toggle"  routerLink="/movies" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Movies
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
            <a class="dropdown-item" routerLink="movies/populars">Populars</a>
            <a class="dropdown-item" routerLink="movies/thearters">Thearters</a>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/restapp" >REST API</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/chat" >Socket Chat</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/meantodo" >Meantodo</a></li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li *ngIf="!isLoggedIn && showRegister" class="nav-item">
          <a routerLink="/register" class="nav-link">Register</a>
        </li>
        <li *ngIf="!isLoggedIn && showRegister" class="nav-item">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a href="#" class="nav-link">{{ loggedInUser }}</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a routerLink="/settings" class="nav-link">Settings</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a style="cursor: pointer" (click)="onLogoutClick($event)" class="nav-link">Logout</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
