<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Angular Learning</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="">Home</a></li>
        <li>
          <a routerLink="/simple"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
            Simple<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="simple/about">About</a></li>
            <li><a routerLink="simple/jumbotron">Jumbotron</a></li>
          </ul>
        </li>
        <li><a routerLink="/map" >Map</a></li>
        <li><a routerLink="/github" >Github Search</a></li>
        <li><a routerLink="/cribs" >Real-Estate</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
