<div class="jumbotron">
  <div class="container">
    <h1>Browse Our Movies</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rutrum turpis sed massa venenatis posuere. Proin volutpat ex velit, euismod elementum massa suscipit ac. Donec at ipsum ut magna sodales elementum.</p>
    <p><a class="btn btn-primary btn-lg" href="#">Learn More</a></p>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="container">
    <p>&copy; 2016 MovieFinder</p>
  </div>
</footer>
