<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/map.jpg" alt="Google Map" />
        <div class="caption text-center">
          <h3>Map</h3>
          <p>Map by Angular AGM</p>
          <p><a routerLink="map" class="btn btn-primary" role="button">Map</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/github.png" alt="Github Search" />
        <div class="caption text-center">
          <h3>Github Search</h3>
          <p>Search by Github API</p>
          <p><a routerLink="github" class="btn btn-primary" role="button">Search</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/real-estate.jpg" alt="Real-Estate" />
        <div class="caption text-center">
          <h3>Real Estate</h3>
          <p>Real-Estate by Fake JSON Data</p>
          <p><a routerLink="cribs" class="btn btn-primary" role="button">Real-Estate</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/movie.jpg" alt="Real-Estate" />
        <div class="caption text-center">
          <h3>Movie Search</h3>
          <p>Movie Search by TMDB API</p>
          <p><a routerLink="movies" class="btn btn-primary" role="button">Movies</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/rest-app.jpg" alt="REST API" />
        <div class="caption text-center">
          <h3>REST API</h3>
          <p>UI: Angular Material</p>
          <p><a routerLink="restapp" class="btn btn-primary" role="button">REST API</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/socket.png" alt="Socket Chat" />
        <div class="caption text-center">
          <h3>Simple Chat</h3>
          <p>Based on Socket.io + node.js</p>
          <p><a routerLink="chat" class="btn btn-primary" role="button">Chat</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
